# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
.venv/

# Data files
*.xlsx
*.xls
*.db
user_data/
uploads/

# Firebase
.firebase/
.firebaserc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
